@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  min-width: 100vw;
  width: 100%;
}

body {
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.split {
  position: absolute;
  height: 100vh;
  width: 50%;
  top: 0;
  overflow: hidden;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 1000ms ease-in-out;
}

.split.left {
  left: 0;
  background-image: url(left.png);
  background-position: right;
}

.split.right {
  right: 0;
  background-image: url(right.png);
  background-position: left;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-color: var(--left-bg-color); */
}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  /* background-color: var(--right-bg-color); */
}

.container.hover_left .split.left {
  width: 75%;
  transition: 990ms;
}

.container.hover_left .split.right {
  width: 25%;
  background-image: url(leftbg.png);
  transition: 1000ms;
}

.container.hover_right .split.left {
  width: 25%;
  background-image: url(rightbg.png);
  transition: 1000ms;
}

.container.hover_right .split.right {
  width: 75%;
  transition: 990ms;
}

h1 {
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  white-space: nowrap;
  letter-spacing: 1px;
  text-transform: capitalize;
  color: black;
}

.btn {
  padding: 1.5rem;
  width: 15rem;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  border: 1px solid black;
  color: black;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  border-radius: 20px;
  cursor: pointer;
}



.btn:hover {
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.8);
  
}

.btnright:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(31,31,31) !important;
  font-size: larger;
  padding: 1.55rem;
  width: 15.5rem;
  /* border: 0; */

  
}



.btnleft:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(31, 31, 31) !important;
  font-size: larger;
  padding: 1.55rem;
  width: 15.5rem;
}




/* .split.right h1 {
  color: black;
}

.split.right .btn {
  color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.8);
} */


@media (max-width: 700px){
  .split.right h1 ,.split.left h1 {
      font-size: 40px;
      background-color: rgb(255, 255, 255,0.3);
      padding: 8px;
      border-radius: 18px;
  }
  .split.right .btn ,.split.left .btn{
    padding: 1rem;
    width: 10rem;
    background-color: rgb(255, 255, 255,0.5);
    padding: 8px;
    border-radius: 15px;
  }
  
}

